@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
}
body {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maps__container {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 50px;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.map__card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.bing__map {
  height: 50vh;
  width: 40vw;
}

.map__controls {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

label {
  display: flex;
  justify-content: space-between;
  width: 320px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.label:last-child {
  border: none;
}
