* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow: hidden;
  background-color: blue;
}

.map__container {
  height: 100vh;
  width: 100vw;

  /* height: 500px;
  width: 500px;
  border: 10px solid white;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 100px; */
}
